@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: #121214;
}

#cronometro {
  background: #202024;
  padding: 4rem;
  border-radius: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#timer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #202024;
  height: 300px;
  width: 300px;
  border: 4px solid #00875f;
  border-radius: 100%;
  color: #ffffff;
  font-size: 2rem;
  padding: 5rem;
}

#actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 0.5rem;
}

#actions button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 45px;
  background: #00875f;
  border: none;
  color: #ffffff;
  padding: 0.6rem;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s ease;
}

#actions button:hover {
  background: #00b37e;
}

#marksList {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  color: #ffffff;
}

#marksList p:first-child {
  margin-top: 1.5rem;
}

#marksList p {
  background: #00875f;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
